*{
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
}

.body{
    display:flex;
    
}
.info{
    margin-left: 20px;
}
ul{
    list-style: none;
}

.side{
    background-color: aqua;

}
b{
    color: aqua;
}

hr{
    color: black;
}

img {
    border-radius: 50%;
  }